body{
  padding: 0px;
  margin: 0px;
  background: #ffffff;
}

.header{
  background: url(Formative.Panda.4.jpg);
  padding: 50px 24px;
  text-align: left;
  color:rgb(0, 0, 0);
  margin: 1px;
  letter-spacing: 1px;
  font: caption;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.headerintext{
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  border-radius: 50%;
  opacity: 0.9;
}

.menu{
  position: sticky;
  top: 0px;
  background-color: black;
  margin: 0px;
  overflow: hidden;

}

.menu a{
  font: menu;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  box-sizing: border-box;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 24px;
}

.menu a:hover{
  background: #ff9f1c;
  color: black;
}


.image-container{
  position: relative;
  z-index: -1;
  top: 10px;
} 

.image-container .image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 1000px;
  height: 600px;
}

.content{
  padding: 0px 24px;
  text-align: justify;
  font-size: 2opx;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.article1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.article2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.article3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}


table, th, td {
  height: 50px;
  width: 30px;
  border:2px solid rgb(0, 0, 0);
}

.graph1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr.new1 {
  border-top: 10px solid black;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}






