body{
  padding: 0px;
  margin: 0px;
  background: #ffffff;
}

.header{
  background: url(Formative.Panda.4.jpg);
  padding: 50px 24px;
  text-align: left;
  color:rgb(0, 0, 0);
  margin: 1px;
  letter-spacing: 1px;
  font: caption;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.headerintext{
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  border-radius: 50%;
  opacity: 0.9;
}

.menu{
  position: sticky;
  top: 0px;
  background-color: black;
  margin: 0px;
  overflow: hidden;

}

.menu a{
  font: menu;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  box-sizing: border-box;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 24px;
}

.menu a:hover{
  background: #ff9f1c;
  color: black;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  z-index: 10;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position:absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



.content{
  padding: 0px 24px;
  text-align: justify;
  font-size: 2opx;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.article1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.article2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.article3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}


table, th, td {
  height: 50px;
  width: 30px;
  border:2px solid rgb(0, 0, 0);
}

.graph1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr.new1 {
  border-top: 10px solid black;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}






