body {
  padding: 0px;
  margin: 0px;
}

/* Centeralize the headers of articles */
.text-center {
  padding: 40px 0px 40px 0px;
}

/* Contain the background photo of the first two articles */
.container {
  background-image: url("./assets/New_Photos_10.png.jpg");
  background-repeat: no-repeat;
  color: black;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;

  background-size: cover;
  margin-top: 80px;
}

/* Header */
.container_0 {
  background-image: url("./assets/New_Photos_10.png.jpg");
  background-repeat: no-repeat;
  color: black;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;

  background-size: cover;
  margin-top: 80px;
}

/* 'Biggest thread of giant panda' text */
.headerintext {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 3%;
}

.text-dark {
  font-size: 3vw;
}

.header {
  background-image: url("./assets/New_Photos_10.png.jpg");
  background-repeat: no-repeat;
  color: black;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;

  background-size: cover;
  margin-top: 80px;
}

/* Add and design the hoover for list items and articles */
li:hover,
h1:hover {
  background-color: aqua;
}

/* Articles.. */
.article1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.article1header1 {
  text-align: center;
}

.article2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.article2header1 {
  text-align: center;
}

.article3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.article3header1 {
  text-align: center;
}

.article4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.article4header1 {
  text-align: center;
}

.iframe-container {
  position: relative;
  width: 80%;
  padding-bottom: 56.25%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
}

/* Table */
table,
th,
td {
  height: 50px;
  width: 30px;
  border: 2px solid rgb(0, 0, 0);
}

/* Graph of temperature change over the years  */
.graph1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

/* Text of the graph */
.graphintext {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 3%;
}

.graphtext {
  background-image: url("./assets/New_Photos_10.png.jpg");
  background-repeat: no-repeat;
  color: black;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;

  background-size: cover;
  margin-top: 80px;
}
.text-dark {
  font-size: 3vw;
}

/* Text of the table */

.tableintext {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 3%;
}

.tabletext {
  background-image: url("./assets/New_Photos_10.png.jpg");
  background-repeat: no-repeat;
  color: black;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;

  background-size: cover;
  margin-top: 80px;
}
.text-dark {
  font-size: 3vw;
}

/* Last image of the webpage, the prisoner Panda */
.GiantPandaPrisoner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Texts of the links */
a:link {
  color: rgb(255, 38, 0);
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

/* Hovers */
a:hover {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

/* Dropup of the footer */
.dropup {
  position: relative;
  margin: 0 0px 0 50px;
}

/* Align of the email address of the author in the footer */
.footerMail {
  margin-left: 0px;
  position: relative;
}
